body {
  background-color: #eef3f7;
  font-family: Arial, sans-serif;
}

.container {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.header {
  background-color: #000c41;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: -20px -20px 20px -20px;
}

textarea, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 5px;
}

button {
  background: #f0f0f0;
  border-color: #000c41;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
 
}

button:hover {
  background: #1515c3;
  color:white;
}

#output {
  background: #f8f8f8;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Button row for Copy/Speak/Clear */
.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.button-row button {
  flex: 1 0 auto;
  width: auto;
  min-width: 80px;
  background-color: #000c41;
  color:white;
  border-color: #ddd;
}
.button-row button:hover {
  background: #060cbf;
}